{% extends "base.html" %}
{% import "forms/base.html" as base %}
{% block content %}
<div class="page-title public-profile-title">
    <div class="row">
        <div class="col-sx-12 text-center">
            <h1>Forgot Password</h1>
        </div>
    </div>
</div>
<div class="content boxs">
    <div class="row">
        <form method="post" action=""{{ request.path }}?{{ request.query_string }}"">
            {{ form.csrf_token }}
            <div class="col-md-12">
                <div class="col-md-3">{{ form.password.label }}</div>
                <div class="col-md-3">{{ form.password() }}</div>
                <div class="col-md-3">{{ base.errors(form.password) }}</div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3">{{ form.confirm.label }}</div>
                <div class="col-md-3">{{ form.confirm() }}</div>
                <div class="col-md-3">{{ base.errors(form.confirm) }}</div>
            </div>
            <div class="col-md-12 text-center">
                <br/><br/>
                <button type="submit" name="go" class="btn btn-primary">Reset</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
